{% extends 'home.html' %}
{% block main %}
<div class="container">
   
    <section class="featured-products">
        <h2>Products You liked</h2>
        <div class="row">

            <!-- Product card 1 -->
            <div class="col-sm-4">
                <div class="product-card card">
                    <img src="https://m.media-amazon.com/images/I/71slaXZxIlL._AC_UY1100_.jpg" class="card-img-top img-responsive" alt="Product 3">
                    <div class="card-body">
                        <h4 class="card-title">Product 1</h4>
                        <p class="card-text">$39.99</p>
                        <p class="card-text">Short description of the product goes here.</p>
                        <a href="#" class="remove-button">Remove</a>
                        <a href="#" class="buy-button">Buy Now</a>
                       
                    </div>
                </div>
            </div>

            <!-- Product card 2 -->
            <div class="col-sm-4">
                <div class="product-card card">
                    <img src="https://m.media-amazon.com/images/I/71slaXZxIlL._AC_UY1100_.jpg" class="card-img-top img-responsive" alt="Product 3">
                    <div class="card-body">
                        <h4 class="card-title">Product 2</h4>
                        <p class="card-text">$39.99</p>
                        <p class="card-text">Short description of the product goes here.</p>
                        <a href="#" class="remove-button">Remove</a>
                        <a href="#" class="buy-button">Buy Now</a>
                       
                    </div>
                </div>
            </div>

            <!-- Product card 3 -->
            <div class="col-sm-4">
                <div class="product-card card">
                    <img src="https://m.media-amazon.com/images/I/71slaXZxIlL._AC_UY1100_.jpg" class="card-img-top img-responsive" alt="Product 3">
                    <div class="card-body">
                        <h4 class="card-title">Product 3</h4>
                        <p class="card-text">$39.99</p>
                        <p class="card-text">Short description of the product goes here.</p>
                        <a href="#" class="remove-button">Remove</a>
                        <a href="#" class="buy-button">Buy Now</a>
                        
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="product-card card">
                    <img src="https://m.media-amazon.com/images/I/71slaXZxIlL._AC_UY1100_.jpg" class="card-img-top img-responsive" alt="Product 3">
                    <div class="card-body">
                        <h4 class="card-title">Product 3</h4>
                        <p class="card-text">$39.99</p>
                        <p class="card-text">Short description of the product goes here.</p>
                        <a href="#" class="remove-button">Remove</a>
                        <a href="#" class="buy-button">Buy Now</a>
                     
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>
{%endblock%}