{% extends 'home.html' %}
{% block main %}
<div class="profile-container">
    
    <!-- Profile Header -->
    <div class="profile-header">
        <div class="profile-image">
            <img src="{{ j.profile_pic.url }}" alt="User Profile" class="profile-img">
        </div>
        <div class="profile-info">
            <h2>{{ i.username }}</h2>
            <p>{{ i.email }}</p>
            <p><strong>Date of Birth:</strong> {{ j.date_of_birth }}</p>
        </div>
    </div>

    <!-- Profile Details -->
    
    <div class="profile-details">
        <h3><strong>Account Information</strong></h3>
        <p><strong>Name:</strong> {{ i.first_name }} {{ i.last_name }}</p>
        <p><strong>Phone:</strong> {{ j.user_mobile }}</p>
        <p><strong>Gender:</strong> {{ j.gender }}</p>
        <p><strong>Address:</strong> {{ j.address }}</p>
    </div>

    <!-- Profile Settings Menu -->
    <div class="profile-settings">
        <h3><strong>Settings</strong></h3>
        <ul class="settings-menu">
            <li><a style="color: black; text-decoration: none; margin-top: 10px; font-size: 15px;" href="/edit">Edit Profile</a></li>
            <li><a style="color: black; text-decoration: none; margin-top: 10px; font-size: 15px;" href="#">Change Password</a></li>
            <li><a style="color: black; text-decoration: none; margin-top: 10px; font-size: 15px;" href="/logout">Logout</a></li>
            <!-- Add more list items for additional settings options -->
        </ul>
    </div>
</div>
{% endblock %}
