{% extends 'home.html' %}
{% block main %}
<div class="profile-container">
    
    <!-- Profile Header -->
    <div class="profile-header">
        <div class="profile-image">
            <img src="{{ j.profile_pic.url }}" alt="User Profile" class="profile-img">
        </div>
        <div class="profile-info">
            <h2>{{ i.username }}</h2>
            <p>{{ i.email }}</p>
            <p><strong>Date of Birth:</strong> {{ j.date_of_birth }}</p>
            
        </div>
    </div>

    <!-- Profile Details -->
    
    <div class="profile-details">
        <h3><strong>Account Information</strong></h3>
        <p><strong>Name:</strong> {{ i.first_name }} {{ i.last_name }}</p>
        <p><strong>Phone:</strong> {{ j.user_mobile }}</p>
        <p><strong>Gender:</strong> {{ j.gender }}</p>
        <p><strong>Address:</strong> {{ j.address }}</p>
    </div>

    <!-- Profile Settings Menu -->
    <div class="profile-settings">
        <h3><strong>Settings</strong></h3>
        <ul class="settings-menu">
            <li><a class="settings-link" href="/order">My Orders</a></li>
            <li><a class="settings-link" href="/edit">Edit Profile</a></li>
            <li><a class="settings-link" href="" onclick="find()" >Change Password</a></li>
            <li><a class="settings-link" href="/logout">Logout</a></li>
            {% if request.user.is_staff %}
                <li class="admin-dropdown">
                    <a class="settings-link" href="">Admin Panel</a>
                    <ul class="sub-menu">
                        <li><a class="settings-link" href="/upload">Upload Product</a></li>
                        <li><a class="settings-link" href="/viewpro">View Products</a></li>
                        <li><a class="settings-link" href="/DashBoards">DashBoards</a></li>
                    </ul>
                </li>
            {% endif %}

        </ul>
        
        <style>
            .admin-dropdown:hover .sub-menu {
                display: block;
            }
            
            .sub-menu {
                display: none;
                position: absolute;
                background-color: #fff;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                padding: 10px;
                z-index: 1;
            }
            
            .sub-menu li {
                margin-bottom: 5px;
            }
        </style>
        <script>
            function find() {
                alert("Please contact the admin to change your password");
            }


        </script>

        
    </div>
</div>
{% endblock %}
