{% extends 'home.html' %}
{% block main %}

    <div class="container">
        <!-- Featured products section -->
        <section class="featured-products">
        {% if data %}
            <h2>Products You Uploaded</h2>
            <div class="row">
                <!-- Product card 1 -->
                {% for product in data %}
                <div class="col-sm-4">
                    <div class="product-card card">
                        <img src={{product.image.url}} class="card-img-top img-responsive" alt="Product 3">
                            <div class="card-body">
                            <h class="card-title1">{{ product.product_name }}</h><br>
                            <h class="card-title">₹ {{ product.price }}</h>
                            <p class="card-text">{{ product.desc }}</p>
                            <a href="{% url 'deletepro' product.product_id %}" style="background:red;" class="add-to-cart-button">Delete</a>
                            <a href="{% url 'editpro' product.product_id %}" class="buy-button">Edit</a>
                        </div>
                      </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
        <div class="empty-cart" style="text-align: center; margin-top: 50px;">
            <h2 style="font-size: 24px; margin-bottom: 20px;"><strong>No Products Uploaded</strong></h2>
            <img src="https://cdni.iconscout.com/illustration/premium/thumb/empty-cart-7359557-6024626.png" alt="Empty Cart Image" style="width: 350px; margin-bottom: 15px;">
            <br>
            <a href="{% url 'upload' %}" class="btn btn-primary" style="background-color: #007bff; border-color: #007bff;">Upload Now</a>
        </div>
    {% endif %}
        </section>
        
    </div>

{%endblock%}